.btn {
  padding: 13px 40px 15px;
  border-radius: 100px;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  font-weight: 400;
  transition: all .2s;
  display: inline-flex;

  &--primary {
    &--lightB {
      background-color: $black;
      color: white;
      &:hover {
        background: $blue;
        box-shadow:  0px 15px 30px rgba(0, 109, 216, 0.2);
        transition: all .2s;
      }
    }
    &--darkB {
      background-color: #fff;
      color: $black;
      &:hover {
        color: $white;
        background: $blue;
        box-shadow:  0px 15px 60px rgba(0, 109, 216, 0.8);
        transition: all .2s;
      }
    }    
  }
  &--secondary {
    background-color: transparent;
    &--lightB {
      color: black;
      border: 2px solid black;
      &:hover {
        border: 2px solid $blue;
        color: $blue;
        box-shadow:  0px 15px 30px rgba(0, 109, 216, 0.2);
        transition: all .2s;
      }
    }
    &--darkB {
      border: 2px solid white;
      color: white;
      &:hover {
        border: white;
        background: linear-gradient(180deg, #006DD8 0%, rgba(0, 0, 0, 0) 100%);
        filter: drop-shadow(0px 15px 60px rgba(0, 109, 216, 0.8));
        transition: all .2s;
      }
    }    
  }
}

.link {
  display: inline-flex;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.8px;
  padding: 5px 10px;
  background:  linear-gradient(182.35deg, rgba(255, 255, 255, 0) 112.94%, #006DD8 126.56%);
  transition: all 0.2s;
  position: relative;
  z-index: 2;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .4s linear;
  }
  &:hover {
    &::before {
      opacity: 1;
      transition: opacity .4s linear;
    }
  }
  &--lightB {
    &::before {
      background: linear-gradient(182.35deg, rgba(255, 255, 255, 0) 1.97%, #006DD8 126.56%);
    }
    color: black;
  }
  &--darkB {
    color: white;
    &::before {
      background: linear-gradient(179.55deg, rgba(0, 0, 0, 0) 0.39%, #006DD8 102.18%);
    }
  }
}
