$success: #4caf50;
$error: #ff5252;
$warning: #ffc105;
$disabled: #aaa;

// Primary Colours
$black: black;
$blue: #006DD8;

// Secondary Colours
$red: #C42F52; 

// Terciary Colours
$teal: #09BAC7;
$purple: #5B0FBA;
$orange: #FFA804;
$yellow: #FFEB70;

// Greys
$grey-dark: #737473;
$grey: #CED0CE;
$grey-light: #E6E8E6;
$white: white;

